/* autoprefixer grid: autoplace */

/* ------- IMPORTS --------- */

@import "~nav-frontend-typografi-style";
@import "./components/Felleskomponenter/SystemetLaster/systemet-laster.less";

#familie-ba-soknad-page-container {
  position: relative;
  min-height: 100vh;
}

#familie-ba-soknad-content-wrapper {
  padding-bottom: 5.5rem;
}
@media screen and (max-width: 950px) {
  #familie-ba-soknad-content-wrapper {
    padding-bottom: 6.875rem;
  }
}
@media screen and (max-width: 768px) {
  #familie-ba-soknad-content-wrapper {
    padding-bottom: 12.75rem;
  }
}

footer {
  position: absolute !important;
  bottom: 0;
}
