.informasjonsbolk {
    margin-top: 4rem;

    &__barn {
        margin-top: 0.75rem;

    }
    & .lenke {
        font-size: 1.125rem;
        margin-top: 0.75rem;
    }

    & .skjemaelement {
        padding: 10px;
    }
    & .skjemaelement__label {
        font-size: 1.125rem;
    }
}